* {
    margin: 0;
    box-sizing: border-box;
    color: #191919;
}

/* ---------------- Typography ---------------- */

body {
    font: 24px 'Clash Display', sans-serif;
}

.heading {
    text-align: center;
}

.heading__title {
    text-transform: uppercase;
    font-size: 6rem;
}

/* ---------------- Elements ---------------- */

.btn {
    display: inline-block;
    background-color: #191919;
    color: white;
    text-decoration: none;
    margin: 1em;
    padding: .75em 1.75em;
}

/* ---------------- Navigation ---------------- */

ul {
    list-style-type: none;
}

.nav, h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.nav {
    margin: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.75rem;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
}

/* ---------------- Gallery ---------------- */


/* ---------------- Bio ---------------- */


/* ---------------- Contact Form ---------------- */


/* ---------------- Footer ---------------- */

footer {
    text-align: center;
}

/* ---------------- Responsive ---------------- */