
/* ---------------- General ---------------- */

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--accent-color);
}

section, aside {
    margin-bottom: 3rem;
}

:root {
    --accent-color: #191919;
    --gallery-hover: #3b3b3b;
    --skills-bar-bg: #e9e9e9;
}

/* ---------------- Typography ---------------- */

body {
    font: 24px 'Clash Display', sans-serif;
}

p {
    margin-bottom: .3rem;
}

.heading {
    text-align: center;
}

.heading__title {
    margin: 1rem 3rem;
    text-transform: uppercase;
    line-height: 1;
    font-size: clamp(3rem, 10vw + 40%, 7rem);
}

.section-header {
    margin-bottom: .75rem;
}

/* ---------------- Elements ---------------- */

.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    margin: 1em;
    padding: .75em 1.75em;
}

/* ---------------- Navigation ---------------- */

ul {
    list-style: none;
}

.nav, h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.nav {
    margin: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.75rem;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
}

/* ---------------- Gallery ---------------- */

.gallery {
    margin: 2em 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.gallery__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gallery-hover) url(http://unsplash.it/800/800) no-repeat center center;
    background-size: cover;
    color: transparent;
    transition: all ease-in-out 150ms;
}

.gallery__item:hover {
    background-blend-mode: multiply;
    color: white;
}

.gallery__item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.gallery__item.narrow {
    grid-row: span 1;
    grid-column: span 2;
}

.gallery__item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery__item.big {
    grid-row: span 3;
    grid-column: span 3;
}

.gallery__item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.gallery__item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

/* ---------------- Bio ---------------- */

.bio__photo {
    background-image: url("http://unsplash.it/320/320");
    width: min(100%, 20rem);

    /* work on this ^ */
    
    height: 20rem;
}

.skills__labels,
.skills__stats {
    display: flex;
    flex-flow: column nowrap;
    max-width: 20rem;
}

.skills__bar {
    height: 1rem;
    background: var(--skills-bar-bg);
    margin-bottom: 1.5rem;
}

.skills__bar > span {
    display: block;
    height: 100%;
    background: var(--accent-color);
}


/* ---------------- Contact Form ---------------- */



/* ---------------- Footer ---------------- */

footer {
    text-align: center;
}

/* ---------------- Responsive ---------------- */