// * {
//     outline: 2px solid rgb(28, 166, 230);
// }

.container {
    width: 80%;
    max-width: 1100px;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    
}

.info {
    width: 33%;
}

.story {
    width: 63%;
}