.container {
    width: 80%;
    max-width: 1100px;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    
}

.info {
    width: 33%;
}

.bio__photo {
    background-image: url("http://unsplash.it/320/320");
    // width: min(100%, 20rem);

    // work on this ^
    
    height: 20rem;
    margin-bottom: 2em;
}

.story {
    width: 63%;
}