html {
    box-sizing: border-box;
}

*,  *::before, *::after {
    box-sizing: inherit;
}

section, aside {
    margin-bottom: 3rem;
}

p, figure {
    margin-bottom: 1rem;
}

.section-header {
    margin-bottom: .75rem;
}