
header {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {

    &, h3 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    & ul {
        display: flex;
        gap: 1.75rem;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
    }
}