
.logo {
    width: 30px;
    height: 30px;
}

.bio__photo {
    background-image: url("http://unsplash.it/320/320");
    // width: min(100%, 20rem);

    /* work on this ^ */
    
    height: 20rem;
}